body{
  background-image: url(chessbg.jpg);
  background-size:cover;
  background-position: center;
  color: rgb(234,  230, 182);
}
#mainAside{
  width:200px;
  height:100%;
  background:none;
  position:fixed;
  top:120px;
  left:-200px;
}

.animation{
  transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
}
.nav-link {
  color: rgb(234,  230, 182);
}
#btton{
  height: 36px;
  width:50px;
  margin-top: 10px;
  background:rgb(23, 23, 21);
  color: rgb(234,  230, 182);
  border:none;
  position: fixed;
}
.mar{
  margin-left: 200px;
}
.content{
  padding-top: 50px;
  color: rgb(234,  230, 182);
  text-align: center;
}

.games{
  background-color: rgb(23, 23, 21);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.19),-4px -4px 8px rgba(0, 0, 0, 0.19);
  margin-top: 75px;
  padding:30px;
}

.img{
  margin:auto;
}
#btton1{
  border-radius: 50%;
  height: 100px;
  width:100px;
  color:rgb(234, 230, 182);
  background-color:rgb(23, 23, 21);
  border: 2px solid rgb(234, 232, 180); 
}
.c1{
  text-align: right;
}
.abc{
  margin-left: 48%;
  padding-top: 30px;
}